uvicorn>=0.16.0,<0.18.0
fastapi>=0.64.0,<1.0.0
requests>=2.23.0,<2.24.0
pydantic
pydantic-settings
joblib==1.4.2
numpy>=1.21.0,<2.0.0
pandas==2.2.3
pydantic==2.10.5
ruamel.yaml==0.18.10
scikit-learn==1.3.0
strictyaml==1.7.3

# If locally copied whl file inside titanic_model_api then use given below
#titanic_model-0.0.1-py3-none-any.whl

# If uploded your package in PyPI then use the given below
titanic-model==0.0.1

